.hero__section
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
   background-color: rgb(226, 105, 57);
   background-image:url(../receipe/fruit2.jpg);
    background-size: cover;
    background-blend-mode:multiply;
    padding-top: 10px;
}
.hero__text
{
    color: white;
    text-align: center;
}
.hero__text h1{
    font-size: 100px;
    font-weight: 500px;
    text-transform: uppercase;
}
.hero__text p{
    letter-spacing: 6px;
    text-transform: uppercase;
}
#banner_img {
    height: 500px;
    width: 100%;
    border-radius: 20px;
    -webkit-box-shadow: -31px 33px 29px 3px rgba(59, 42, 59, 0.84);
    -moz-box-shadow: -31px 33px 29px 3px rgba(59, 42, 59, 0.84);
    box-shadow: -31px 33px 29px 3px rgba(59, 42, 59, 0.84);
}
.menu
{
    display: flex;
    gap: 30px;
    padding-left: 30px;
    
}
.effect {
    font-size: 1.4rem;
    padding: 30px;
    background-color: rgb(204, 50, 19);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 450px;
}

.div_1 {
    display: flex;
    gap: 30px;
    margin: 35px;
}

.header_img {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}



/* CSS */
.button-91 {
 color: #fff;
 padding: 15px 25px;
 background-color: #38D2D2;
 background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
 box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
 border-radius: 14px;
 font-weight: bold;
 font-size: 16px;

 border: 0;

 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;

 cursor: pointer;
}
.tet
{
    background-color:antiquewhite ;
}






